<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682109380492-k06p9gu76nr1jm5urtvt092unmqpuekr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682109380492-k06p9gu76nr1jm5urtvt092unmqpuekr</string>
	<key>API_KEY</key>
	<string>AIzaSyAlam4EDSRkMIV84UZeGEuccs-dN0LIDG8</string>
	<key>GCM_SENDER_ID</key>
	<string>682109380492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dungnguyen.elera</string>
	<key>PROJECT_ID</key>
	<string>elera-dbc4f</string>
	<key>STORAGE_BUCKET</key>
	<string>elera-dbc4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682109380492:ios:601dbd1ef6c807f334d8a9</string>
</dict>
</plist>